@media(max-width: 1400px) {
    .projects-cards-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .project-card:first-child {
        margin-bottom: 3rem;
    }

    .main-part {
        flex-direction: column;
    }

    .footer-list {
        display: flex;
    }

    .footer-list-item {
        margin-right: 3rem;
    }
}

@media(max-width: 1200px) {
    .about-me {
        flex-direction: column;
        padding-bottom: 20rem;
    }

    .about-me-content {
        margin-bottom: 13rem;
    }

    .image {
        width: 20rem;
    }

}

@media(max-width: 900px) {
    .banner {
        text-align: center;
    }

    .banner-heading {
        font-size: 4.7rem;
    }

    .banner-paragraph {
        font-size: 2.6rem;
    }

    .banner-button {
        width: 16rem;
        font-size: 1.5rem;
    }

    .project-heading {
        font-size: 4.7rem;
    }
}

@media(max-width: 750px) {
    .project-card {
        flex-direction: column;
        width: 35rem;
    }

    .project-card-heading {
        font-size: 1.5rem;
    }

    .project-image {
        margin-left: 0; 
    }

    .project-card-btn {
        width: 12rem;
        padding: 1rem .5rem;
        font-size: 0.5rem;
    }

    .tech-icons {
        padding: .1rem;
        font-size: 2rem;
        justify-content: space-evenly;
    }

    .footer-list {
        display: block;
    }

    .creator-part {
        flex-direction: column;
        text-align: center;
    }

    .copyright-text {
        order: 1;
    }
}


@media(max-width: 500px) {
    .sidebar {
        height: 100%;
    }

    .navigation-heading {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .banner {
        height: 100%;
        margin-top: -10rem;
    }

    .banner-heading {
        font-size: 3rem;
    }

    .banner-paragraph {
        font-size: 2rem;
    }

    .about-me {
        padding-bottom: 15rem;
    }

    .about-me-heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .sub-heading {
        font-size: 2rem;
        text-align: center;
    }

    .about-me-content {
        padding: 3rem;
    }

    .about-me-paragraph {
        font-size: 1.4rem;
        width: 80%;
    }

    .image {
        width: 13rem;
    }

    .project-heading {
        font-size: 3rem;
    }

    .small-underline {
        width: 5rem;
    }

    .big-underline {
        width: 12rem;
    }

    .project-card-heading {
        font-size: 1.5rem;
    }

    .project-card-btn {
        width: 12rem;
        padding: 1rem .5rem;
        font-size: 1rem;
    }

    .main-part {
        padding: 2rem;
    }

    .footer-input {
        width: 12rem;
    }

    .projects-cards-wrapper {
        width: 5rem;
    }

}


@media(max-width: 375px) {
    .sidebar {
        height: 110%;
        width: 10em;
    }

    .hamburger {
        top: 10em;
    }

    .navigation-heading {
        font-size: 3rem;
    }

    .header {
        width: 100%;
    }

    .banner {
        height: 100%;
        margin-top: -10rem;
        width: 100%;
    }

    .banner-heading {
        font-size: 3rem;
    }

    .banner-paragraph {
        font-size: 2rem;
    }

    .about-me {
        width: 100%;
    }

   
    .about-me-paragraph {
        font-size: 1.4rem;
        width: 80%;
    }

   .projects {
    width: 100%;
   }

    .project-card {
        width: 30em;
        margin: 5em;
    }

    .project-card-btn {
        width: 5rem;
    }

    .main-part {
        width: 110%;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .banner {
        height: 100%;
        width: 110%;
    }

    .main-part {
        width: 100%;
    }

    .project-header {
        width: 80%;
    }
    .header,
    .about-me,
    .projects,
    .projects-cards-wrapper,
    .footer {
        width: 110%;
    }

} 

@media(max-width: 360px) {
    .sidebar {
        height: 115%;
        width: 8em;
    }

    .hamburger {
        top: 8em;
    }

    .year {
        font-size: 1em;

    }

    .header {
        width: 100%;
    }

    .banner {
        height: 100%;
        width: 100%;
        margin-top: -10rem;
    }

    .about-me {
        padding-bottom: 15rem;
    }
    
    .main-part {
        width: 115%;
        height: 100%;
    }

    .about-me {
        width: 100%;
    }

    .projects {
        width: 100%;
    }
   
    .project-card {
        width: 31em;
        margin: 2em;
    }

    .projects-cards-wrapper {
        width: 4rem;
    }

}

@media(max-width: 320px) {
    .sidebar {
        height: 115%;
        width: 20%;
    }

    .hamburger {
        top: 10em;
    }

    .navigation-heading {
        font-size: 3rem;
    }

    .nav-toggle, 
    .social-icons-list,
    .year {
        margin-left: 2rem;
    }


    .banner {
        height: 100%;
        width: 100%;
        margin-top: -10rem;
    }

    .header {
        width: 100%;
    }

    .banner-heading {
        font-size: 3rem;
    }

    .banner-paragraph {
        font-size: 1.75rem;
    }

    .about-me {
        padding-bottom: 15rem;
        width: 100%;
    }

    .about-me-heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .sub-heading {
        font-size: 2rem;
        text-align: center;
    }

    .about-me-content {
        padding: 3rem;
    }

    .about-me-paragraph {
        font-size: 1.4rem;
        width: 80%;
    }


    .project-heading {
        font-size: 3rem;
    }


    .projects {
        width: 100%;
    }

    .project-card {
        width: 29rem;
        margin: 8px;
    }

    .project-card-heading {
        font-size: 2rem;
    }

    
    .main-part {
        padding: 2rem;
        width: 115%;
    }

    .footer-input {
        width: 12rem;
    }

    .projects-cards-wrapper {
        width: 4rem;
    }

}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .banner {
        height: 100%;
    }

    .banner-heading {
        font-size: 4rem;
    }

    .banner-paragraph {
        font-size: 1.75rem;
    }


    .about-me-content {
       padding: 50px;
    }

    .about-me-paragraph {
        font-size: 15px;
    }

    .sub-heading {
        font-size: 12px;
    }

    a.project-card-btn {
        width: 5rem;
        font-size: 1rem;
    }
}



